#out {
    max-height: 100px;
    overflow-y: scroll;
    margin-bottom: 20px;
}
#drop input {
    opacity: 0;
    padding: 50px 0;
}

#drop {
    position:  relative;
    border: 2px dashed #f59292;
    margin:  10px 0;
}

#drop:before {
    content: 'DROP HERE';
    position:  absolute;
    top: 50%;
    left:  50%;
    margin-top: -14px;
    margin-left: -100px;
    font-weight: 900;
    font-size: 20px;
    color: #cacaca;
    letter-spacing: 10px;
}
input#sheetname {
    height: 28px;
    padding-left: 10px;
}